---
- name: add Debian non-free repositories
  ansible.builtin.apt_repository:
    repo: "deb http://deb.debian.org/debian {{ repo_debian_release }} main contrib non-free non-free-firmware"
    filename: debian-nonfree
    state: present
    update_cache: true
  when: ansible_distribution == "Debian"
  tags: [non-free]

- name: add Debian non-free updates repository
  ansible.builtin.apt_repository:
    repo: "deb http://deb.debian.org/debian {{ repo_debian_release }}-updates main contrib non-free non-free-firmware"
    filename: debian-nonfree
    state: present
    update_cache: true
  when: ansible_distribution == "Debian"
  tags: [non-free]

- name: add Debian non-free security repository
  ansible.builtin.apt_repository:
    repo: "deb http://security.debian.org/debian-security {{ repo_debian_release }}-security main contrib non-free non-free-firmware"
    filename: debian-nonfree
    state: present
    update_cache: true
  when: ansible_distribution == "Debian"
  tags: [non-free]
