---
# /mnt/md0
- name: create mount point /mnt/md0
  file:
    path: /mnt/md0
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: mount virtiofs to /mnt/md0
  mount:
    fstype: virtiofs
    src: md0
    path: /mnt/md0
    opts: defaults
    state: mounted

# /mnt/app
- name: format 64G disk to ext4
  community.general.filesystem:
    dev: /dev/sdb # change this (lsblk, should match below)
    fstype: ext4

- name: create mount directory /mnt/app
  file:
    path: /mnt/app
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: mount 64G disk
  ansible.posix.mount:
    path: /mnt/app
    src: /dev/sdb # change this (lsblk, should match above)
    fstype: ext4
    state: mounted

# $ ansible-playbook servers/medxarr/setup.yml -l medxarr.kevnp.lan
# NAME    MAJ:MIN RM  SIZE RO TYPE MOUNTPOINTS
# sda       8:0    0   16G  0 disk
# ├─sda1    8:1    0 15.9G  0 part /
# ├─sda14   8:14   0    3M  0 part
# └─sda15   8:15   0  124M  0 part /boot/efi
# sdb       8:16   0   64G  0 disk /mnt/app
# sr0      11:0    1    4M  0 rom
#
# $ ansible-playbook servers/medxarr/setup.yml -l medxxrr.kevnp.lan
# NAME    MAJ:MIN RM  SIZE RO TYPE MOUNTPOINTS
# sda       8:0    0   64G  0 disk
# sdb       8:16   0   16G  0 disk
# ├─sdb1    8:17   0 15.9G  0 part /
# ├─sdb14   8:30   0    3M  0 part
# └─sdb15   8:31   0  124M  0 part /boot/efi
# sr0      11:0    1    4M  0 rom
