---
- name: sudo root access for local admins
  no_log: true
  community.general.sudoers:
    name: "{{ item.key }}"
    user: "{{ item.key }}"
    commands: "ALL"
  when: item.value.root is defined
  loop: "{{ provision_users.local | dict2items }}"

- name: passwordless sudo for service user
  community.general.sudoers:
    name: "{{ item.key }}"
    user: "{{ item.key }}"
    commands: ALL
    nopassword: true
  when: item.value.insecure_root is defined
  loop: "{{ provision_users.service | dict2items }}"

# mount disks dynamicly passed from terraform
- name: create mount directory
  file:
    path: "{{ item.mount }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop: "{{ dynamic_disks }}"

- name: format disk to ext4
  community.general.filesystem:
    fstype: ext4
    dev: "/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-{{ item.slot }}" # todo: this should support more than scsi
  loop: "{{ dynamic_disks }}"

- name: mount disk and add to /etc/fstab
  ansible.posix.mount:
    path: "{{ item.mount }}"
    src: "/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-{{ item.slot }}"
    fstype: ext4
    opts: defaults,noatime
    state: mounted
  loop: "{{ dynamic_disks }}"

- import_tasks: resolved.yml
  when: "'lxc' not in group_names"
